<!doctype html>
<html ⚡ lang="{%- if lang -%} {{ lang }} {%- else -%} en {%- endif -%}">
    <head>
        <title>
            {%- if title -%}
              {{ title }} – {{ locale.headTitle }}
            {%- else -%}
              {{ locale.headTitle }}
            {%- endif -%}
        </title>
        <meta name="description" content="{% block description %}{{ locale.metaDescription }}{% endblock %}">
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#FFFFFF">

        {% if site.icon %}
            <link rel="shortcut icon" type="image/png" href="{{ site.icon }}"/>
        {% endif %}
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        {%- block seo -%}
            <!--Twitter Card-->
            <meta name="twitter:site" content="{{ site.twitter }}">
            <meta name="twitter:creator" content="{{ site.twitter }}">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:url" content="{{ site.url + page.url }}">
            <meta name="twitter:title" content="{{ title + " – " + locale.headTitle if title else title }}">
            <meta name="twitter:description" content="{{ site.description }}">
            <meta name="twitter:image" content="{{ site.cover_image }}">

            <!--Schema-->
            <link rel="author" href="{{ site.url }}">
            <link rel="publisher" href="{{ site.url }}">
            <meta itemprop="name" content="{{ title + " – " + locale.headTitle if title else title }}">
            <meta itemprop="description" content="{{ locale.metaDescription }}">
            <meta itemprop="image" content="{{ site.cover_image }}">

            <!-- Facebook OpenGraph -->
            <meta property="og:url" content="{{site.url + page.url}}">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ title + " – " + locale.headTitle if title else title }}">
            <meta property="og:image" content="{{ site.cover_image }}">
            <meta property="og:description" content="{{ locale.metaDescription }}">
            <meta property="og:site_name" content="{{ locale.headTitle }}">
            <meta property="og:locale" content="{%- if lang -%} {{ lang }} {%- else -%} en {%- endif -%}">
            <meta property="article:author" content="{{ site.url }}">
        {%- endblock -%}

        <link rel="manifest" href="/manifest.json">
        <link rel="preload" as="script" href="https://cdn.ampproject.org/v0.js">
        <link rel="canonical" href="{{ site.url }}">
        <link rel="amphtml" href="{{ site.url }}" />
        <link rel="alternate" hreflang="en" href="{{ site.url }}" />
        <link rel="alternate" hreflang="fr" href="{{ site.url }}/fr/" />
        <link rel="alternate" hreflang="ar" href="{{ site.url }}/ar/" />
        <link rel="alternate" hreflang="de" href="{{ site.url }}/de/" />
        <link rel="alternate" hreflang="es" href="{{ site.url }}/es/" />
        <link rel="alternate" hreflang="zn" href="{{ site.url }}/zn/" />
        <link rel="alternate" hreflang="ru" href="{{ site.url }}/ru/" />
        <link rel="alternate" hreflang="it" href="{{ site.url }}/it/" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500&display=swap" rel="stylesheet">

        {% set css %}{% include "css/main.css" %}{% endset %}
        <style amp-custom>{{ css | cssmin | safe }}</style>
        <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
        <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
        <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
        <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
        <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>

        {{ site.codeinjection_head | safe if site.codeinjection_head }}
        {{ codeinjection_head | safe if codeinjection_head }}
    </head>
    <body>
        {% include "partials/header.njk" %}
        <main>
          {% raw %}
            <amp-list width="auto" height="175" src="https://api.swene.io/rates/" layout="fixed-height" class="ticker-list">
              <template type="amp-mustache">
                <div class="ticker">
                  <div class="col">
                    <h3>{{title}}</h3>
                    <span class="price">${{price}}</span>
                    <span class="volume">${{volume}}</span>
                  </div>
                  <div class="col">
                    {{#progression}}
                    <div class="prog-up">{{percentage}}%</div>
                    <div class="chart">
                      <svg viewBox="0 0 100 40">
                        <polyline
                          fill="none"
                          stroke="#51CC64"
                          stroke-width="2"
                          points="
                    00,{{history.day1}}
                    10,{{history.day2}}
                    20,{{history.day3}}
                    30,{{history.day4}}
                    40,{{history.day5}}
                    50,{{history.day6}}
                    60,{{history.day7}}
                    70,{{history.day8}}
                    80,{{history.day9}}
                    90,{{history.day10}}
                    100,{{history.day11}}">
                        </polyline>
                      </svg>
                    </div>
                    {{/progression}}
                    {{^progression}}
                    <div class="prog-down">{{percentage}}%</div>
                    <div class="chart">
                      <svg viewBox="0 0 100 40">
                        <polyline
                          fill="none"
                          stroke="#F00"
                          stroke-width="2"
                          points="
                    00,{{history.day1}}
                    10,{{history.day2}}
                    20,{{history.day3}}
                    30,{{history.day4}}
                    40,{{history.day5}}
                    50,{{history.day6}}
                    60,{{history.day7}}
                    70,{{history.day8}}
                    80,{{history.day9}}
                    90,{{history.day10}}
                    100,{{history.day11}}">
                        </polyline>
                      </svg>
                    </div>
                    {{/progression}}
                  </div>
                </div>
              </template>
            </amp-list>
          {% endraw %}

          <div class="overview">
              <div class="container">
                <h2>{{ locale.overviewTitle }}</h2>
                <p class="emphasis">{{ locale.overviewEmphasis }}</p>
                <p>{{ locale.overviewDescription }}</p>
              </div>
            </div>
            <div class="secure">
              <div class="container">
                <div class="col-100 col-md-50 img-container">
                  <img alt="{{ locale.secureImageAlt }}" src="/assets/img/secure.png">
                </div>
                <div class="col-100 col-md-50">
                  <h2>{{ locale.secureTitle }}</h2>
                  <p class="emphasis">{{ locale.secureEmphasis }}</p>
                  <p>{{ locale.secureDescription }}</p>
                </div>
              </div>
            </div>
            <div class="ui">
              <div class="container">
                <div class="col-100 col-md-50 content">
                  <h2>{{ locale.uiTitle }}</h2>
                  <p class="emphasis">{{ locale.uiEmphasis }}</p>
                  <p>{{ locale.uiDescription }}</p>
                </div>
                <div class="col-100 col-md-50">
                  <img alt="{{ locale.uiImageAlt }}" src="/assets/img/screens.png" />
                </div>
              </div>
            </div>
            <div class="compliant">
              <div class="container">
                <div class="col-100 col-md-50">
                  <img alt="{{ locale.compliantImageAlt }}" src="/assets/img/compliant.png" />
                </div>
                <div class="col-100 col-md-50 content">
                  <h2>{{ locale.compliantTitle }}</h2>
                  <p class="emphasis">{{ locale.compliantEmphasis }}</p>
                  <p>{{ locale.compliantDescription }}</p>
                </div>
              </div>
            </div>
            <div class="get-started" id="signup">
              <div class="container">
                <h2>{{ locale.getStartedTitle }}</h2>
                <h3 class="intro">{{ locale.getStartedForFree }}</h3>
                <p>{{ locale.getStartedDescription }}</p>
              </div>
              <div class="panel">
                <h3>{{ locale.getStartedAccountTitle }}</h3>
                <p>{{ locale.getStartedAccountDescription }}</p>

                <form method="post" action-xhr="https://api.swene.io/v1/user/register" enctype='application/json'>
                  <label for="account">
                    {{ locale.emailLabel }}
                  </label>
                  <input type="text" placeholder="{{ locale.emailInput }}" id="account" name="data[email]" required/>
                  <label for="account_newsletter">{{ locale.subscribeToNewsLetter }}</label><input type="checkbox" id="account_newsletter" name="data[newsletter]"/>
                  <input type="hidden" name="data[user]" value="true" />
                  <div submit-success class="submit-success">
                    <template type="amp-mustache">
                      {{ locale.thanksForSigning }}
                    </template>
                  </div>
                  <div submit-error class="submit-error">
                    <template type="amp-mustache">
                      {{ locale.alreadyRegistered }}
                    </template>
                  </div>
                  <button class="btn btn-primary">
                    {{ locale.getStartedSubmit }} <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="chevron-right"><path fill="currentColor" d="M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z"></path></svg>
                  </button>
                </form>
              </div>
              {#
              <div class="container">
                    {% block content %}
                    {% endblock content %}
              </div>
              #}
            </div>
        </main>
        {% include "partials/footer.njk" %}

        {{ site.codeinjection_foot | safe if site.codeinjection_foot }}
        {{ codeinjection_foot | safe if codeinjection_foot }}
    </body>
    <amp-install-serviceworker src="/sw.js"
         data-iframe-src="install-sw.html"
         layout="nodisplay">
    </amp-install-serviceworker>
</html>
