---
pagination:
  data: collections.posts
  size: 3
  alias: posts
---

{% extends 'layouts/home.njk' %}
{% from "partials/card.njk" import card %}

{% set title = "Posts" %}

{% block content %}
  {% set regExp = r/^#/ %}
  <section class="post-feed">
    {% for post in posts %}
      {% if post.tags %}
        {% set notEnglish = false %}
        {% for tag in post.tags %}
          {% if regExp.test(tag) %}
            {% set notEnglish = true %}
          {% endif %}
        {% endfor %}
        {% if not notEnglish %}
          {{ card(post) }}
        {% endif %}
      {% endif %}
    {% endfor %}
  </section>

  {% include "partials/pagination.njk" %}
{% endblock%}
