---
layout: layouts/base.njk
---
<img src="/img/contimg1.jpg">

<div>
<h2 style="text-transform:uppercase;">{{contacts1|safe}}</h2>
<p><a href="mailto:reception@hotelparticulier.com" title="RECEPTION@HOTELPARTICULIER.COM">RECEPTION@HOTELPARTICULIER.COM</a></p>
<p>+33 (0) 1 53 41 81 40</p>
<h2 style="text-transform:uppercase;">{{events|safe}}</h2>
<p><a  href="mailto:event@hotelparticulier.com" title="EVENT@HOTELPARTICULIER.COM">EVENT@HOTELPARTICULIER.COM</a></p>
<p>+33 (0) 9 54 83 80 71</p>
<h2 style="text-transform:uppercase;">{{press|safe}}</h2>
<p><a  href="mailto:press@hotelparticulier.com" title="PRESS@HOTELPARTICULIER.COM">PRESS@HOTELPARTICULIER.COM</a></p>
<p>+33 (0) 9 54 83 80 71</p>
<h3 style="text-transform:uppercase;">{{keeptouch|safe}}</h3>
<p><a href="https://www.instagram.com/hotelparticuliermontmartre/" target="_blank" rel="noopener" title="Instagram">Instagram</a>&nbsp; &nbsp;<a href="https://www.facebook.com/hotelparticuliermontmartre" target="_blank" rel="noopener" title="Facebook">Facebook</a></p>
<p>23, avenue Junot, Pavillon D<br>75018 Paris</p>
                            </div>

<img src="/img/contimg1point5.jpg">

<p>&nbsp;</p>
<h2>{{subscribeto|safe}}</h2>
<p>[{{newsletter|safe}}]</p>
<p>&nbsp;</p>

<img src="/img/contimg2.jpg">
<div>
{{parkinginfo|safe}}
</div>
<img src="/img/contimg3.jpg">
<div>
{{metroinfo|safe}}
</div>
<p style="text-transform:uppercase;">{{paris|safe}}</p>
<p style="text-transform:uppercase;">{{montmarte|safe}}</p>
<img src="/img/contimg4.jpg">
