---
layout: layouts/base.njk
---
<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouseld1" >
  <div class="slide">
    <img src="/img/deluxe1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/deluxe2.jpg" class="img-slide">
  </div>
</amp-carousel>

<p>&nbsp;</p>

<img src="/img/deluxe1.jpg" >
<h2 style="text-transform:uppercase;">{{suite|safe}} 05</h2>
<p style="text-transform:uppercase;">{{eiffel|safe}}</p>

<p>&nbsp;</p>

<p><strong>{{delp1s1|safe}}</strong></p>
<p>{{delp1s1|safe}}</p>

<p>&nbsp;</p>


<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouseld2" >
  <div class="slide">
    <img src="/img/delcar11.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/delcar12.jpg" class="img-slide">
  </div>
</amp-carousel>


<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouseld3" >
  <div class="slide">
    <img src="/img/delcar21.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/delcar22.jpg" class="img-slide">
  </div>
</amp-carousel>

<p>&nbsp;</p>


<img src="/img/hotelimg4.jpg">
<h1 style="text-transform:uppercase;">{{ hotelp4h1 | safe }}</h1>
<p>{{hotelp4s1|safe}}</p>
<p>&nbsp;</p>
<p>{{hotelp4h2|safe}}</p>
<p>{{hotelp4s2|safe}}<br>{{hotelp4s3|safe}}</p>
<p>&nbsp;</p>
<h2>{{hotelp4h3|safe}}</h2>
{{hotelp4s4|safe}}
<h3 style="text-transform:uppercase;">{{hotelp4h4}}</h3>
<div style="text-transform:uppercase;">{{hotelp4h3}}</div>

<p>&nbsp;</p>

<h3 style="text-transform:uppercase;">{{jsl1|safe}}</h3>
<h2 style="text-transform:uppercase;">{{sjsl1|safe}}<h2>
<p style="text-transform:uppercase;">{{sjsl2|safe}}</p>
<h2 style="text-transform:uppercase;">{{jsl2|safe}}</h2>
<p style="text-transform:uppercase;">{{jsl3|safe}}</p>
<h2 style="text-transform:uppercase;">{{jsl6|safe}}</h2>
<p style="text-transform:uppercase;">{{jsl7|safe}}</p>
