---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div>
  <amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carousel" >
    <div class="slide">
      <img src="/img/img1.jpg"
         class="img-slide"
         </img>
    </div>
    <div class="slide">
      <img src="/img/img2.jpg"
         class="img-slide"
         </img>
    </div>
    <div class="slide">
      <img src="/img/img3.jpg"
         class="img-slide"
         </img>
    </div>
    <div class="slide">
      <img src="/img/img4.jpg"
         class="img-slide"
         </img>
    </div>
    </amp-carousel>
</div>

<h1>PARISIAN HEDONISM<h1>
<div>
<p>Welcome to the Hotel Particulier Montmartre,<strong> the most private and smallest Parisian hotels</strong> ! A boutique hotel in Paris, this haven of greenery that used to belong to the Hermes family and became a Private House allows you to discover <strong>the largest hotel garden in the capital, part of the last vestiges of the Maquis de Montmartre</strong>.</p>
<p>&nbsp;</p>
<p>. Over time this family house that was once called “une Folie” has established itself as <strong>a reference in Paris</strong>.</p>
<p>&nbsp;</p>
<p>Whether <strong>for a drink, for a dinner or for a night</strong>, the Hôtel Particulier awaits you in Montmartre in what many people rightly call “a countryside in the heart of Paris”</p
</div>

{{ content | safe }}
