---
layout: layouts/base.njk
---

<div>
  <amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carousel3" >
    <div class="slide">
      <img src="/img/fsuits1.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits2.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits3.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits4.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits5.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits6.jpg" class="img-slide">
    </div>
    </amp-carousel>

    <div>23, AVENUE JUNOT, PAVILLON D, 75018 PARIS</div>
    <p>&nbsp;</p>
    <a href="/en/five-suites/junior-suite/"><img src="/img/hotelimg1.jpg"></a>

    <h1 style="text-transform:uppercase;">{{ hotelp1h1 | safe }}</h1>
    <p>{{hotelp1s1|safe}}
      <strong>{{hotelp1s2|safe}}</strong>
      {{hotelp1s3|safe}}
      <strong> Végétale </strong>
      {{hotelp1s4|safe}}
      {{discover|safe}}</p>

    <p>&nbsp;</p>
    <a href="/en/five-suites/superior-junior-suites-2/"><img src="/img/hotelimg2.jpg"></a>
    <h1 style="text-transform:uppercase;">{{ hotelp2h1 | safe }}</h1>
    <p>{{hotelp2s1|safe}}
      <strong>{{hotelp2s2|safe}}</strong>
      {{hotelp2s3|safe}}
      <strong>Arbre à Oreilles </strong>
      {{hotelp2s4|safe}}
      {{discover|safe}}</p>

    <p>&nbsp;</p>
    <a href="/en/five-suites/deluxe-eiffel-suite/"><img src="/img/hotelimg3.jpg"></a>
    <h1 style="text-transform:uppercase;">{{ hotelp3h1 | safe }}</h1>
    <p>{{hotelp3s1|safe}}
      <strong>EIFFEL</strong>
      {{hotelp3s2|safe}}
      {{discover|safe}} </p>


    <img src="/img/hotelimg4.jpg">
    <h1 style="text-transform:uppercase;">{{ hotelp4h1 | safe }}</h1>
    <p>{{hotelp4s1|safe}}</p>
    <p>&nbsp;</p>
    <p>{{hotelp4h2|safe}}</p>
    <p>{{hotelp4s2|safe}}<br>{{hotelp4s3|safe}}</p>
    <p>&nbsp;</p>
    <h2>{{hotelp4h3|safe}}</h2>
    {{hotelp4s4|safe}}
    <h3 style="text-transform:uppercase;">{{hotelp4h4}}</h3>
    <div style="text-transform:uppercase;">{{hotelp4h3}}</div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <img src="/img/hotelimg1.jpg">


    <amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carousel4">
      <div class="slide">
        <img src="/img/c4img1.jpg" class="img-slide">
      </div>
      <div class="slide">
        <img src="/img/c4img2.jpg" class="img-slide">
      </div>
    </amp-carousel>

    <p>&nbsp;</p>

    <amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carousel5">
      <div class="slide">
        <img src="/img/c5img1.jpg" class="img-slide">
      </div>
      <div class="slide">
        <img src="/img/c5img2.jpg" class="img-slide">
      </div>
    </amp-carousel>

    <p>&nbsp;</p>
    <img src="/img/hotelgn.jpg" class="img-slide">

    <h1 style="text-transform:uppercase;">{{bonneuit}}</h1>
    <div style="text-transform:uppercase;">{{goodnight}}</div>



</div>
