---
layout: layouts/base.njk
---
<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouseljunior1" >
  <div class="slide">
    <img src="/img/fsuits4.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/fsuits5.jpg" class="img-slide">
  </div>
</amp-carousel>
<div>23, AVENUE JUNOT, PAVILLON D, 75018 PARIS</div>
<p>&nbsp;</p>
<img src="/img/hotelimg1.jpg">
<p>&nbsp;</p>
<h3><strong>{{jsuitep1h1|safe}}</strong></h3>
<p>{{jsuitep1s1}}</p>
<p>{{jsuitep1s2}}</p>

<img src="/img/jsicon1.jpg" class="img-slide">

<p>&nbsp;</p>


<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouseljunior2" >
  <div class="slide">
    <img src="/img/vitrine1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/vitrine2.jpg" class="img-slide">
  </div>
</amp-carousel>

  <img src="/img/vitrine-portrait.jpg" >


  <img src="/img/fsuits5.jpg" class="img-slide">

<h2><strong>{{jsuitep2h1|safe}}</strong></h2>
<p>{{jsuitep2s1|safe}}</p>
<img src="/img/jsicon1.jpg" class="img-slide">

<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouseljunior2" >
  <div class="slide">
    <img src="/img/vegetale1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/vegetale2.jpg" class="img-slide">
  </div>
</amp-carousel>

<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouseljunior3" >
  <div class="slide">
    <img src="/img/sdbvegetale1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/sdbvegetale2.jpg" class="img-slide">
  </div>
</amp-carousel>

<p>&nbsp;</p>

<img src="/img/hotelimg4.jpg">
<h1 style="text-transform:uppercase;">{{ hotelp4h1 | safe }}</h1>
<p>{{hotelp4s1|safe}}</p>
<p>&nbsp;</p>
<p>{{hotelp4h2|safe}}</p>
<p>{{hotelp4s2|safe}}<br>{{hotelp4s3|safe}}</p>
<p>&nbsp;</p>
<h2>{{hotelp4h3|safe}}</h2>
{{hotelp4s4|safe}}
<h3 style="text-transform:uppercase;">{{hotelp4h4}}</h3>
<div style="text-transform:uppercase;">{{hotelp4h3}}</div>

<p>&nbsp;</p>

<h3 style="text-transform:uppercase;">{{jsl1|safe}}</h3>
<h2 style="text-transform:uppercase;">{{jsl2|safe}}<h2>
<p style="text-transform:uppercase;">{{jsl3|safe}}</p>
<h2 style="text-transform:uppercase;">{{jsl4|safe}}</h2>
<p style="text-transform:uppercase;">{{jsl5|safe}}</p>
<h2 style="text-transform:uppercase;">{{jsl6|safe}}</h2>
<p style="text-transform:uppercase;">{{jsl7|safe}}</p>
