---
layout: layouts/base.njk
---

<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="restcar1" >
  <div class="slide">
    <img src="/img/restaurantcar1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/restaurantcar2.jpg" class="img-slide">
  </div>
</amp-carousel>
<p><strong style="text-transform:uppercase;">{{restp1s1|safe}}</strong>
   {{restp1s2|safe}}
   <strong style="text-transform:uppercase;">{{restp1s3|safe}}</strong>
   {{restp1s4|safe}}
 </p>
 <p>&nbsp;</p>
<p>{{restp2h1|safe}}</p>

 <p>&nbsp;</p>
 <p>{{restp2s1|safe}}</p>

 <p>&nbsp;</p>
 <p>{{restp2s2|safe}}</p>

 <p>&nbsp;</p>
 <p>{{restp2s3|safe}}</p>

 <p>&nbsp;</p>
 <p>{{restp2s4|safe}}</p>

 <p>&nbsp;</p>
 <p>{{restp2s5|safe}}</p>

 <p>&nbsp;</p>
----
 <p>&nbsp;</p>

 <p>{{restp3s1|safe}}
   <strong>{{restp3s2|safe}}</strong>
   {{restp3s3|safe}}
   <strong>{{restp3s4|safe}}</strong>,
   <strong>{{restp3s5|safe}}</strong>,
   <strong>{{restp3s6|safe}}</strong>
   {{restp3s7|safe}}
   <strong>{{restp3s8|safe}}</strong>{{restp3s9|safe}}
                                    </p>
 <p>&nbsp;</p>

<p>
  {{restp4s1|safe}}
  <strong>{{restp4s2|safe}}</strong>
   {{restp4s3|safe}}</p>
<p>&nbsp;</p>

<p>{{restp5s1|safe}}</p>
<p>{{restp5s2|safe}}</p>

<p>&nbsp;</p>


<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="restcar2" >
  <div class="slide">
    <img src="/img/restcar2-1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/restcar2-2.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/restcar2-3.jpg" class="img-slide">
  </div>
</amp-carousel>
<p>&nbsp;</p>
<img src="/img/restimg1.jpg">
<p>&nbsp;</p>


<h2 style="text-transform:uppercase;">{{resth1|safe}}</h2>
<img src="/img/restimg2.jpg">

<p>&nbsp;</p>
<div>{{smenu|safe}}</div>
<p>&nbsp;</p>

<div><img src="/img/breakfast.jpg">
<div>{{breakfastmenu|safe}}</div>
<p>&nbsp;</p></div>
<div><img src="/img/lunch.jpg">
<div>{{lunchmenu|safe}}</div>
<p>&nbsp;</p></div>
<div><img src="/img/dinner.jpg">
<div>{{dinnermenu|safe}}</div>
<p>&nbsp;</p></div>
<div><img src="/img/tea.jpg">
<div>{{teamenu|safe}}</div>
<p>&nbsp;</p></div>
<div><img src="/img/brunch.jpg">
<div>{{brunchmenu|safe}}</div>
<p>&nbsp;</p></div>

<div>{{reservation|safe}}</div>
<img src="/img/reservation.jpg">
<p>&nbsp;</p>
<img src="/img/restimg3.jpg">
<p>&nbsp;</p>
<img src="/img/restimg4.jpg">
<div>J'AI FAIM<br>NOW</div>
<img src="/img/restimg5.jpg">
