---
layout: layouts/base.njk
---
<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouselsj1" >
  <div class="slide">
    <img src="/img/fsuits3.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/hotelimg2.jpg" class="img-slide">
  </div>
</amp-carousel>
<div>23, AVENUE JUNOT, PAVILLON D, 75018 PARIS</div>

<p>&nbsp;</p>

<h3 style="text-transform:uppercase;">{{ suite | safe }} 01</h3>
<h2 style="text-transform:uppercase;">{{ sjsh1 | safe }}</h2>

<p>&nbsp;</p>

<h2><strong>{{ sjsp1h1 | safe }}</strong></h2>
<p>{{ sjsp1s1 | safe }}</p>
<p>{{ sjsp1s2 | safe }}</p>

<p>&nbsp;</p>

<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouselsj2" >
  <div class="slide">
    <img src="/img/arbre1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/arbre2.jpg" class="img-slide">
  </div>
</amp-carousel>

<img src="/img/arbre-girl.jpg" >

<p>&nbsp;</p>


<h3 style="text-transform:uppercase;">{{ suite | safe }} 03</h3>
<h2 style="text-transform:uppercase;">{{ sjsh2 | safe }}</h2>
