---
layout: layouts/base.njk
---
<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouselsj1" >
  <div class="slide">
    <img src="/img/fsuits3.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/hotelimg2.jpg" class="img-slide">
  </div>
</amp-carousel>
<div>23, AVENUE JUNOT, PAVILLON D, 75018 PARIS</div>

<p>&nbsp;</p>

<img src="/img/fsuits3.jpg" class="img-slide">

<h3 style="text-transform:uppercase;">{{ suite | safe }} 01</h3>
<h2 style="text-transform:uppercase;">{{ sjsh1 | safe }}</h2>

<p>&nbsp;</p>

<h2><strong>{{ sjsp1h1 | safe }}</strong></h2>
<p>{{ sjsp1s1 | safe }}</p>
<p>{{ sjsp1s2 | safe }}</p>

<p>&nbsp;</p>

<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouselsj2" >
  <div class="slide">
    <img src="/img/arbre1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/arbre2.jpg" class="img-slide">
  </div>
</amp-carousel>

<img src="/img/arbre-girl.jpg" >

<p>&nbsp;</p>


<h3 style="text-transform:uppercase;">{{ suite | safe }} 03</h3>
<h2 style="text-transform:uppercase;">{{ sjsh2 | safe }}</h2>

<img src="/img/homecar3.jpg">

<p><strong>{{sjsp2s1|safe}}</strong></p>
<p>{{sjsp2s3|safe}}</p>
<p>{{sjsp2s4|safe}}</p>
<p>{{sjsp2s5|safe}}</p>

<div>icons here missing*</div>

<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouselsj3" >
  <div class="slide">
    <img src="/img/poemecar1.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/poemecar2.jpg" class="img-slide">
  </div>
</amp-carousel>

<amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carouselsj4" >
  <div class="slide">
    <img src="/img/poemecar11.jpg" class="img-slide">
  </div>
  <div class="slide">
    <img src="/img/poemecar22.jpg" class="img-slide">
  </div>
</amp-carousel>


<p>&nbsp;</p>

<img src="/img/hotelimg4.jpg">
<h1 style="text-transform:uppercase;">{{ hotelp4h1 | safe }}</h1>
<p>{{hotelp4s1|safe}}</p>
<p>&nbsp;</p>
<p>{{hotelp4h2|safe}}</p>
<p>{{hotelp4s2|safe}}<br>{{hotelp4s3|safe}}</p>
<p>&nbsp;</p>
<h2>{{hotelp4h3|safe}}</h2>
{{hotelp4s4|safe}}
<h3 style="text-transform:uppercase;">{{hotelp4h4}}</h3>
<div style="text-transform:uppercase;">{{hotelp4h3}}</div>

<p>&nbsp;</p>

<h3 style="text-transform:uppercase;">{{jsl1|safe}}</h3>
<h2 style="text-transform:uppercase;">{{sjsl1|safe}}<h2>
<p style="text-transform:uppercase;">{{sjsl2|safe}}</p>
<h2 style="text-transform:uppercase;">{{jsl4|safe}}</h2>
<p style="text-transform:uppercase;">{{jsl5|safe}}</p>
<h2 style="text-transform:uppercase;">{{jsl6|safe}}</h2>
<p style="text-transform:uppercase;">{{jsl7|safe}}</p>
