---
layout: layouts/base.njk
---
<img src="/img/terms-conditions-faq-img.jpg">
<h2 style="text-transform:uppercase;">{{tcfaq|safe}}</h2>

<h2>{{tcfaq1|safe}}</h2>
<h3>{{tcfaq2|safe}}</h3>
<p>{{tcfaq3|safe}}
	<br>
	{{tcfaq4|safe}}
	<br>
	{{tcfaq5|safe}}
</p>
<p>{{tcfaq6|safe}}
	<br>{{tcfaq7|safe}}
	<br>{{tcfaq8|safe}}
	<br>{{tcfaq9|safe}}
</p>
<p>{{tcfaq10|safe}}</p>
<h3>{{tcfaq11|safe}}</h3>
<p>{{tcfaq12|safe}}&nbsp;</p>
<h3>{{tcfaq13|safe}}</h3>
<p>{{tcfaq14|safe}}
	<br>
	{{tcfaq15|safe}}
	<br>
	{{tcfaq16|safe}}
</p>
<h3>{{tcfaq17|safe}}</h3>
<p>{{tcfaq18|safe}}</p>
<h3>{{tcfaq19|safe}}</h3>
<p>{{tcfaq20|safe}}</p>
<h3>{{tcfaq21|safe}}</h3>
<p>{{tcfaq22|safe}}</p>
<h3>{{tcfaq23|safe}}</h3>
<p>{{tcfaq24|safe}}</p>
<h3>{{tcfaq25|safe}}</h3>
<p>{{tcfaq26|safe}}</p>
<p>
	{{tcfaq27|safe}}
	<br>
	{{tcfaq28|safe}}
</p>
<h3>{{tcfaq29|safe}}</h3>
<p>
	<strong>{{tcfaq30|safe}}</strong>
	<br>
	{{tcfaq31|safe}}
	<br>
	{{tcfaq32|safe}}
	<br>
	{{tcfaq33|safe}}
</p>
<h3>{{tcfaq34|safe}}</h3>
<p>{{tcfaq35|safe}}
	<br>
	{{tcfaq36|safe}}
</p>
<h3>{{tcfaq37|safe}}</h3>
<p>{{tcfaq38|safe}}
	<br>
	{{tcfaq39|safe}}
	<br>
	{{tcfaq40|safe}}
</p>
<h3>{{tcfaq41|safe}}</h3>
<p>{{tcfaq42|safe}}</p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="page__content block_texte content">
	<h2>{{tcfaq43|safe}}</h2>
	<h3>{{tcfaq44|safe}}</h3>
	<p>
		{{tcfaq45|safe}}
		<br>
		{{tcfaq46|safe}}
		<br>
		{{tcfaq47|safe}}
		<br>
		{{tcfaq48|safe}}
		<br>
		01 53 41 81 40
	</p>
	<h3>{{tcfaq49|safe}}</h3>
	<p>
		{{tcfaq50|safe}}
		<br>
		{{tcfaq51|safe}}
	</p>
	<h3>{{tcfaq52|safe}}</h3>
	<p>{{tcfaq53|safe}}
		<br>
		{{tcfaq54|safe}}
		<br>
		{{tcfaq56|safe}}
		<br>
		{{tcfaq57|safe}}
		<br>
		{{tcfaq57|safe}}
	</p>
	<h3>{{tcfaq59|safe}}</h3>
	<p>{{tcfaq60|safe}}</p>
	<p>
		<strong>{{tcfaq61|safe}}</strong>
		<br>
		{{tcfaq62|safe}}
	</p>
	<p>
		<strong>{{tcfaq63|safe}}</strong>
		<br>
		{{tcfaq64|safe}}
	</p>
	<h3>{{tcfaq65|safe}}</h3>
	<p>{{tcfaq66|safe}}
		<strong>{{tcfaq67|safe}}</strong>.
	</p>
	<p>{{tcfaq68|safe}}
		<strong>{{tcfaq69|safe}}</strong>.<br>
		{{tcfaq70|safe}}
	</p>
</div>


<p>&nbsp;</p>
<h3  style="text-transform:uppercase;">{{paris}}</h3>
<p  style="text-transform:uppercase;">{{tcfaq71}}</p>
<img src="/img/tcfaqimg2.jpg">
