---
title: Hotel
layout: layouts/base.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
eleventyNavigation:
  key: Hotel
  order: 1
---


<div>
  <amp-carousel type="slides" layout="responsive" type="slides" autoplay delay="10000" width="1920" height="900" id="carousel3" >
    <div class="slide">
      <img src="/img/fsuits1.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits2.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits3.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits4.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits5.jpg" class="img-slide">
    </div>
    <div class="slide">
      <img src="/img/fsuits6.jpg" class="img-slide">
    </div>
    </amp-carousel>



</div>
