---
title: Hotel
layout: layouts/hotel.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
eleventyNavigation:
  key: Hotel
  order: 1
---
